h3 {
    margin-top: 0em;
}


h2 {
    margin-top: 0em;
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

.title {
      margin:0;
      padding: 0 0 0 15px;
			text-align:left;
}

@media only screen
and (min-width: 1200px){
    /* For desktop: */
    .title {
          margin:0 0 0 -12;
          padding: 0 0 0 15px;
    			text-align:left;
        }
}


img {
    max-width: 100%;
    height: auto;
    margin: 0 0 5 0px;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    border-top: 0px solid white;
    border-bottom: 0px solid white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 1px;

}

.col-1 {width: 0.0%;}
.col-2 {width: 25%; }
.col-3 {width: 100%;}
.col-4 {width: 50%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 100%;}
.col-9 {width: 100%;}
.col-10 {width: 83.33%;}
.col-11 {width: 100%;}
.col-12 {width: 100%;}

@media only screen
and (min-width: 1200px){
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


html {
  font-family: 'Open Sans', Times, serif;
  font-size: 20px;
  background-color: #F6F6F6;
}

@media only screen
and (min-width: 1200px){
    /* For desktop: */
    html {
      font-family: 'Open Sans', Times, serif;
      font-size: 15px;
      background-color: #F6F6F6;
    }

}



a:link {
    text-decoration: none;
    color: #4372AA;
}

a:visited {
    text-decoration: none;
    color: #4372AA;
}

a:hover {
    color: #003EFF;
}


nav {
  margin: -1 0 0 0px;
  padding: 0 0 5 15px;
}

.research-side-bar {
  margin: 0px;
  padding: 0 0 20 0px;
  text-align:center;
  font-size: 1.2em;
}

#news {
			list-style:none;
			text-align:left;
      padding: 0 0 10 0px;
		}

#news li {
  padding: 0 0 10 0px;
}

#homebar{
			list-style:none;
			margin:-12 0 -10 -12;
			padding:0;
			text-align:left;
		}

#homebar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: auto;
}

#homebar li {
      height: auto;
      display:inline-block;
      margin-right: 0px;
      border-right: 0px solid #aaa;
      border-bottom: 0px solid #aaa;
      padding: 0 0 0 0px;
      background-color: none;
      font-size: 2.1em;
      font-weight: bold;
}

#homebar li a {
    color: #75A1D0;
    text-decoration: none;
    font-size: 2.35em;
    -webkit-transition: all 0.5s ease;
}

#homebar li a:hover {
  color: #0276FD;
}

#homebar li.active a {
  font-weight: bold;
  color: #0D4F8B;
}

#navbar{
			list-style:none;
			margin:0 0 0 -12;
			padding: 0 0 0 0;
			text-align:left;
      background-color: none;
		}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

#navbar li {
  height: auto;
  display:inline-block;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  border-bottom: 0px solid #aaa;
  padding: 2 15 2 5px;
}

#navbar li:first-child {
  padding: 2 15 2 1px;
}

#navbar li:last-child {
  border-right: none;
}

#navbar li a {
    color: #75A1D0;
    text-decoration: none;
    text-transform: lowercase;
    font: 25px/1 Helvetica, Verdana, sans-serif;
    font-size: 1.35em;
    -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
  color: #0276FD;
}

#navbar li.active a {
  font-weight: bold;
  color: #0D4F8B;
}


#pubs ol {

}

#pubs li {
    padding: 0 0 10 0px;
    margin-left: 0px;
}

#pubs li.afteryear {
  padding: 10 0 10 0px;
}



#pubs li.year {
  display:inline-block;
  background-color: #7AA9DD;
  list-style-type: none;
  margin-left: 0px;
  padding: 5 5 5 5px;
  text-align: center;
  color:#F5F5F5;
  font: Helvetica, Verdana, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}
